<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recipe-app login page</title>
    <link rel="stylesheet" href="register.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playwrite+AU+NSW:wght@100..400&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="slider">
      <span class="word" style="color: rgb(255, 136, 0);">Hurry</span>
      <span class="word" style="color: rgb(242, 255, 0);">up</span>
      <span class="word" style="color: rgb(30, 255, 0);">Start</span>
      <span class="word" style="color: rgb(0, 247, 255);">your</span>
      <span class="word" style="color: rgb(0, 4, 255);">Recipe</span>
      <span class="word" style="color: rgb(255, 255, 255);">esctasy</span>
    </div>
    <div class='bg2'> <img  src='bg2.jpg' alt=''/> </div>
    <form action="/register" method="post" id="registerform">
    <div class="container">
      <h2>Register</h2>
      <div class="username">
        <input type="text"  placeholder="username"name="username" required>
    </div>
    <div class="password">
        <input type="password" placeholder="password" name="password" required>
    </div class="submitcontainer">
      <button class="register" type="submit">Sign Up</a></button>
      <nav class="login">Already have an account?<a href="/login"> login</a></nav>
    </div>
  </form>
    <script src="register.js"></script>
  </body>
</html>
